html
  head
    link(href="/css/app.css", rel="stylesheet")
    script(src="/vendors/lazyload.min.js")
    title!= title
  body
    div#app

    script(src="/js/config.js")
    script(src="/js/app.js")
