body
  {MontserratRegular}
  background-color: $gallery
  color: $black
  font-size: 16px

  .section-title
    {MontserratBold}
    font-size: 2rem
    margin: 0 0 40px 0
    text-align: center
    text-transform: uppercase

  a
    text-decoration: none
